<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Home Page</h1>
    
    <div>
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissable fade show" role="alert">
                <strong>Message:</strong> {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    </div>

    <div>
        {% if user.is_authenticated %}
            <h3>Hello, {{ user }}</h3>
            <h4>You've successfully logged in!</h4>
            <button type="submit">
                <a href="{% url 'signout' %}">SignOut</a>
            </button>

            <button type="submit">
                <a href="{% url 'player-create' %}">Create Player</a>
            </button>
        {% else %}
            <div>
                <div class="row">
                    <button type="submit">
                        <a href="{% url 'signup' %}">SignUp</a>
                    </button>
        
                    <button type="submit">
                        <a href="{% url 'signin' %}">SignIn</a>
                    </button>
                </div>
            </div>
        {% endif %}
    </div>
    
    <div>
        {% for player in players %}
            <p><a href="{% url 'player-details' pk=player.id %}">{{ player }}</a> - Points Per Game: {{ player.ppg|floatformat:1 }}</p>
        {% empty %}
            <p>Sorry, no athletes in this list.</p>
        {% endfor %}
    </div>

</body>
</html>