<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Home Page</h1>
    <div>
        <div class="row">
            <button type="submit">
                <a href="{% url 'signup' %}">SignUp</a>
            </button>

            <button type="submit">
                <a href="{% url 'signin' %}">SignIn</a>
            </button>

            <button type="submit">
                <a href="{% url 'signout' %}">SignOut</a>
            </button>
        </div>

    </div>
</body>
</html>