<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignIn</title>
</head>
<body>
    
    <h1>SignIn</h1>
    <br>
    
    <form action="" method="post">
        {% csrf_token %}

        <label for="username">Username: </label>
        <input type="text" id="username" name="username" placeholder="Enter your username here">
        <br>

        <label for="pass1">Password: </label>
        <input type="password" id="pass1" name="pass1" placeholder="Enter your password here">
        <br>

        <button type="submit">Log in</button>
    </form>

</body>
</html>